.container {
    
}
.top {
    display: flex;
    gap: 20px;
}
.filterButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding: 10px 20px ;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: .2s;
}
.filterButton:hover {
    background-color: #ececec;
}
.filterButton.active {
    background-color: #ececec;
}

.filtersCount {
    width: 25px;
    height: 25px;
    background-color: #2563eb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    font-size: 14px;
    font-weight: bold;
}