.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
}

.left {
    flex-shrink: 0;
}

.right {
    flex: 1;
}